
body, html {
    height: 100%; /* Garantir que o body e html ocupem 100% da altura da tela */
    margin: 0; /* Remove margens extras */
    overflow: hidden; /* Remove a barra de rolagem */
}

.inicio
{
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetições */
    background-size: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.hidden {
    display: none;
}